/*Mobile View*/
@media screen and (max-width: 576px) {
  * {
    font-size: 11px;
  }
  nav {
    flex-direction: column;
    padding: 50px 0;
    gap: 50px;
  }
  nav .menu {
    flex-direction: column;
    gap: 40px;
  }
  nav .menu ul {
    flex-direction: column;
  }

  .banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-img img {
    display: block;
    margin: 0 auto;
  }
  .banner-content {
    width: 80%;
  }
  .about {
    padding: 10px;
    flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .about-img img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .about-content {
    width: 100%;
    align-items: center;
  }
  .about-content p {
    width: 65%;
    text-align: center;
  }

  .games-collection h1,
  .games-collection span {
    font-size: 2.4rem;
  }
  .games-collection p {
    font-size: 1rem;
  }
  .games-cards {
    margin-top: 30px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .games-cards .card {
    margin-top: 0px;
  }
  .games-cards .card:hover .img-box::before {
    height: 87%;
  }
  .games-cards img {
    width: 100%;
  }
  .games-cards p {
    margin-top: 0px;
    font-size: 1rem;
  }
}

/*Small devices (landscape phones, 577px and up)*/
@media screen and (min-width: 576px) and (max-width: 767px) {
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
}
