@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  --primary-colour: #ff42a5;
}
.btn-primary {
  padding: 15px 35px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-colour);
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
header {
  height: 100vh;
}
/* Navbar Style  */
nav {
  padding: 18px 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .logo h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
nav .logo h1 span {
  color: var(--primary-colour);
  font-size: 2.4rem;
  font-weight: 700;
}
nav .menu {
  display: flex;
  gap: 30px;
}
nav .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
nav a {
  text-decoration: none;
}
.nav-follow {
  background-color: #e7e6e9;
  color: #3c354f;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
}
.nav-follow img {
  width: 25px;
}

/* Banner Section  */
.banner {
  display: flex;
}
.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-image: url(./images/Group\ 14.png);
  background-size: 100%;
}
.banner-content p {
  text-transform: uppercase;
  color: #0b0223;
  font-size: 2.7rem;
  font-weight: 600;
}
.banner-content h1 {
  font-size: 5.6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content li {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
  list-style: none;
}
.banner-content i {
  margin-right: 10px;
  margin-left: 20px;
}
.banner-content .banner-btns {
  display: flex;
  gap: 40px;
}
.banner-content .btn {
  padding: 15px 35px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #4ec5f7;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 80%;
}

/* Games Collection Style  */
.games-collection {
}
.games-collection h1 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}
.games-collection span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-collection p {
  color: #534c64;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 16px;
}
.games-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.games-cards .card {
  width: 250px;
  margin-top: 50px;
}
.games-cards img {
  width: 100%;
}
.games-cards p {
  text-align: left;
  margin-top: 20px;
  color: #534c64;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 20px;
}

/* Feature Section Style  */
.feature {
  display: flex;
  gap: 30px;
  margin: 50px 0 100px;
}
.feature-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.feature-content h1 {
  text-align: right;
  font-size: 2.4rem;
  font-weight: 700;
}
.feature-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-content p {
  color: #534c64;
  text-align: right;
  font-size: 0.9rem;
  width: 55%;
  margin: 0 0 0 auto;
  line-height: 20px;
}
.feature-img {
  width: 60%;
  position: relative;
}
.feature-img img:nth-child(1) {
  width: 60%;
  padding-left: 200px;
}
.feature-img img:nth-child(2) {
  width: 250px;
  position: absolute;
  left: 10%;
  bottom: -15%;
}

/* Games Category Style  */
.games-category {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.games-category .category {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 8px;
  border: 1px solid transparent;
  transition: all 0.25s linear;
}
.games-category .category:hover {
  border-radius: 50px;
  border: 1px solid var(--primary-colour);
  color: red;
}
.games-category .category:hover p {
  color: var(--primary-colour);
  transition: all 0.25s linear;
}
.games-category .category p {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}
.games-category .category img {
  width: 50px;
}
